.breadcrumbs {
	height: 148px;
	display: flex;
	justify-content: space-between;
	background-color: #f8f3f4;
	align-items: center;

	&__page {
		font-size: 24px;
		line-height: 29px;
		color: #f16d7f;
	}

	&__chain {
		&-list {
			display: flex;
		}

		&-item:not(:last-child):after {
			margin-right: 10px;
			margin-left: 10px;
			content: "/";
		}

		&-item > a {
			font-size: 14px;
			line-height: 17px;
			color: #636363;
		}
	}

	&__current > a {
		color: #f16d7f;
	}
}
.breadcrumbs__chain-item {
}
