.catalogs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*! КОСЯК */
.catalog {
	&__header {
		padding-bottom: 48px;
		text-align: center;
	}

	&__heading {
		font-size: 30px;
		line-height: 36px;

		padding-bottom: 8px;
	}

	&__subtitle {
		font-size: 14px;
		line-height: 17px;

		color: #9f9f9f;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		background: #f8f8f8;
		max-width: 360px;
		flex-grow: 1/3;
		margin-bottom: 32px;
	}

	&__image-container {
		display: block;
		position: relative;
	}

	&__add-cart {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(58, 56, 56, 0.86);
		justify-content: center;
		align-items: center;

		&-container {
			cursor: pointer;
			display: block;
			border: 1px solid #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 9px 12px;
			background: rgba(0, 0, 0, 0);
		}
	}

	&__image-container > img:hover + .catalog__add-cart {
		display: flex;
	}

	&__add-cart-text {
		color: #ffffff;
	}

	&__about {
		padding: 24px 16px;
		text-align: left;
	}

	&__title {
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		padding-bottom: 8px;

		& > a {
			color: #000000;
		}
	}

	&__describe {
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #5d5d5d;
		padding-bottom: 16px;
	}

	&__price {
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #f16d7f;

		&::before {
			content: "$";
		}
	}

	&__button {
		display: flex;
		width: 212px;
		height: 48px;
		font-size: 16px;
		line-height: 19px;
		color: #f26376;
		border: 1px solid #ff6a6a;
		background-color: #fff;
		margin-top: 16px;
		margin-bottom: 96px;
		justify-content: center;
		align-items: center;
		text-decoration: none;

		&:visited,
		&:link {
			color: #f26376;
		}

		&:hover {
			color: #ffffff;
			background: #f16d7f;
			border: 1px solid #ff6a6a;
		}
	}

	&__paging {
		border: 1px solid #ebebeb;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		padding: 16px;
		margin-bottom: 96px;
		margin-top: 16px;

		&-list {
			display: flex;
			padding-inline-start: 0;

			font-size: 16px;
			line-height: 19px;
			color: #c4c4c4;
		}

		&-item {
			&:not(:last-child) {
				margin-right: 22px;
			}
			&:nth-child(6) {
				margin-right: 0px;
			}

			& > a {
				text-decoration: none;
				color: #c4c4c4;
			}

			&-skip {
				color: #c4c4c4;
			}
		}
	}

	&__filter {
		display: flex;
		width: 100%;
		padding-top: 54px;
		padding-bottom: 64px;

		&-left {
			display: flex;
			width: 360px;
			margin-right: 30px;
			position: relative;
			z-index: 1;
			&[open] {
				transform: translateX(-16px) translateY(-13px);
				padding-left: 16px;
				padding-top: 13px;
				box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

				.filter-svg__color {
					fill: #ef5b70;
				}

				.catalog__filter-text {
					color: #ef5b70;
				}
			}

			& > summary {
				display: flex;
				align-items: center;
			}
		}
		&-left:hover {
			cursor: pointer;
		}

		&-text {
			margin-right: 12px;
			color: #000000;
		}

		&-center {
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			color: #6f6e6e;

			&-list {
				display: flex;
			}

			&-item {
				display: flex;
				position: relative;

				&:not(:last-child) {
					margin-right: 28px;
				}
			}

			&-item:hover {
				cursor: pointer;
			}
		}

		&-details {
			list-style-type: none;
			max-width: 130%;
			min-width: 100%;
			position: absolute;
			padding-inline-start: 0px;
			background-color: #ffffff;
			box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
			z-index: 1;
			padding: 7px 9px 11px;

			&-checkbox {
				margin-right: 9px;
				border: 1px solid #6f6e6e;
			}

			&-item {
				display: flex;
			}
		}

		&-sublists {
			transform: translateX(-15px);
			padding-left: 16px;
			padding-right: 16px;
			position: absolute;
			background-color: #ffffff;
			width: 360px;
			box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

			&-title {
				border-left: 5px solid #ef5b70;
				padding-left: 16px;
			}
		}

		&-sublist {
			margin-top: 16px;

			&-title {
				display: flex;
				align-items: center;
				height: 37px;
				font-size: 14px;
				line-height: 17px;
				color: #6f6e6e;
				border-left: 5px solid #ef5b70;
				border-bottom: 1px solid #ebebeb;
				padding-left: 12px;
			}

			&-list {
				padding-top: 24px;
				padding-bottom: 32px;
				padding-inline-start: 32px;
			}

			&-item {
				&:not(:last-child) {
					margin-bottom: 12px;
				}

				& > a {
					font-size: 14px;
					line-height: 17px;
					color: #6f6e6e;
				}
			}

			&[open] > &-title {
				color: #ef5b70;
			}
		}
	}
}

@media (max-width: 768px) {
	.catalog {
		&__header {
			padding-bottom: 72px;
		}

		&__items {
			margin-left: 16px;
			margin-right: 16px;
		}
	}
}
